@mixin button($base-color: lightblue) {
  background-color: $base-color;
  cursor: pointer;

  &:hover {
    background: darken($base-color, 3);
  }

  &:active {
    background: darken($base-color, 6);
  }
}
