@mixin button($base-color: lightblue) {
  background-color: $base-color;
  cursor: pointer;

  &[data-touched] {
    background: darken($base-color, 5);
  }

  // &:hover {
  //   background: darken($base-color, 3);
  // }

  // &:active {
  //   background: darken($base-color, 6);
  // }
}
