@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600&display=swap');

:root {
  --app-padding: 20px;
}

* {
  box-sizing: border-box;
  font-family: Lexend, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

// --- DEFAULT STYLES

em {
  color: #aaa;
}

// --- RESET FORM STYLES

input,
button {
  outline: none;
  border: 2px solid;
}

input,
button {
  appearance: none;
  font-size: inherit;
}

button {
  $color-primary: lightblue;

  background: $color-primary;
  cursor: pointer;

  &:hover {
    background: darken($color-primary, 3);
  }

  &:active {
    background: darken($color-primary, 6);
  }
}

// ---

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

// --- CUSTOM CLASSES

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
